@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    margin: 0;
}

header {
    /* 2763ff */
    background-color: rgb(53, 100, 175);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

header h1 i {
    margin-right: 10px;
    font-size: 32px;
}


#message {
    text-align: center;
    color: red;
    margin-bottom: 10px;
}

.task-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.task-input input {
    width: 400px;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    margin: 5px 0;
}

.task-input input:focus {
    border-bottom-color: rgb(53, 100, 175);
}

.task-input button {
    width: 420px;
    padding: 15px;
    font-size: 16px;
    background-color: rgb(53, 100, 175);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.task-input button:hover {
    background-color: #1a4bb8;
}

#task-list-pending,
#task-list-completed {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

.task-item {
    background-color: #fff;
    margin: 5px 0;
    padding: 15px;
    display: flex;
    align-items: flex-start; /* Alinha ao topo */
    border-radius: 5px;
    transition: background-color 0.2s;
    box-sizing: border-box;
}

.task-item:hover {
    background-color: #e6e6e6;
}

.task-content {
    flex: 1;
}

.task-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.toggle-completed {
    margin: 20px 0;
    text-align: center;
}

.toggle-completed button {
    padding: 10px 20px;
    background-color: rgb(53, 100, 175);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.toggle-completed button:hover {
    background-color: #1a4bb8;
}

.task-label {
    width: 80px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 0px;
}

.task-value {
    flex: 1;
    font-size: 14px;
}

.task-item input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(53, 100, 175);
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
}

.task-item input[type="checkbox"]:checked {
    background-color: rgb(53, 100, 175);
    border: none;
}

.task-item input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.task-item span {
    flex-grow: 1;
    font-size: 18px;
}

.task-detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.task-details {
    display: flex;
    flex-direction: column;
    color: #555;
}

.task-details span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.task-details span:last-child {
    margin-bottom: 0;
}

.task-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.task-actions > button {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}

.task-actions > button:hover {
    opacity: 1;
}

.task-actions button img {
    width: 20px;
    height: 20px;
}

.task-item.completed {
    opacity: 0.6;
}

.task-item.completed .task-name {
    color: #888;
}

.edit-input {
    width: calc(33% - 10px);
    margin-right: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}

.edit-input:focus {
    border-bottom-color: rgb(53, 100, 175);
}

.edit-inputs {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.save-button,
.cancel-button {
    padding: 10px 15px;
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    color: white;
    opacity: 1 !important;
}

.save-button {
    background-color: rgb(53, 100, 175) !important;
}

.cancel-button {
    background-color: #dc3545 !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.modal-confirm-button,
.modal-cancel-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}

.modal-confirm-button {
    background-color: #dc3545;
}

.modal-cancel-button {
    background-color: #6c757d;
}

#task-list-completed {
    transition: opacity 0.5s ease, max-height 0.5s ease;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    margin-bottom: 20px;
}

#task-list-completed.show {
    opacity: 1;
    max-height: 1000px;
}

.include-record {
    text-align: center;
    margin: 20px 0;
}

.include-record button {
    padding: 10px 20px;
    background-color: rgb(53, 100, 175);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.include-record button:hover {
    background-color: #1a4bb8;
}


footer {
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(53, 100, 175);
    color: #ffffff;
}

footer p {
    margin: 5px 0;
}

footer .email-contact {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

footer .email-contact:hover {
    color: #dcdcdc;
}

footer .social-links {
    font-size: 25px;
    margin-top: 10px;
}

footer .social-links a {
    color: white;
    margin: 0 10px;
    display: inline-block;
}

footer .social-links img {
    width: 25px;
    height: 25px;
    transition: opacity 0.3s;
}

footer .social-links img:hover {
    opacity: 0.8;
}
